*{
    box-sizing: border-box;
}

/*
Qual deles realmente afasta os elementos?é o espaço externo da caixa, ou seja, afasta a caixa dos outros elementos ao redor.
*/

.box{
  width: 150px;
  height: 100px;
  background-color: brown;
  color: white;
  margin: 5px;
  padding: 50px;
}
.box2{
  width: 150px;
  height: 100px;
  background-color: black;
  color: white;
    margin: 5px;
  padding: 50px;
}
