*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    background-color: aqua;
    height: 30vh;
    color: white;
}

.container-filho{
    background-color: black;
    width: 100px;
    height: 50px;
}

@media (max-width:800px){
   .container-pai{
    flex-direction: column;
    height: 100vh;
   }
   .container-filho{
    min-width: 30vw;
    min-height: 30vw;
   }
}

