* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    position: relative;
    background-color: aqua;
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
}

span {
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: red;
    font-size: 18px;
    border-radius: 50%;
    color: white;
    padding: 5px;
}
