/*Variavel de Reset Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/*Atribuir Fundo para o corpo*/
body {
    background: url(https://i.redd.it/k4mmb8qi85xd1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Falta Chamar outros classes, foi definido globalmente roboto para todos se quiser trocar e font style e escolher a fonte
Falta Chamar 3 classe colocar backgorund em todas fundo estilo
Colocar um Js pro fundo
*/

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 50%;
    border: none;
}

.caixa:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.texto {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

button {
    width: 200px;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 15px;
}

button:hover{
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}


h1 {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 12px rgba(206,89,55,0.86);
}

p {
    font-weight: bolder;
}

.t{
    padding: 100px;
    height: 100%;
}

.invi{
    display: none;
}

.erro{
     display: none;
}
