/*Variavel de Reset Global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/*Atribuir Fundo para o corpo*/
body{}

/*Classe Menu | Colocar Background*/
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
}

/*Classe Menu | Link*/
.menu a{
    text-decoration: none;
}

/*
Falta Chamar outros classes, foi definido globalmente roboto para todos se quiser trocar e font style e escolher a fonte
Falta Chamar 3 classe colocar backgorund em todas fundo estilo
Colocar um Js pro fundo
*/
